.serif {
  font-family: 'Playfair Display', serif;
}

.sans-serif {
  font-family: 'Karla', sans-serif;
}

.bg-light-purple {
  background-color: #7785FF;
}

.f1 {
  font-size: 5.625em;
}

.lh-copy {
  letter-spacing: 0.2px;
}

.blended {
  background-image: url("../../assets/img/portrait.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
