doctype html
html(lang="en")
	head
		script(src="http://use.typekit.net/txl4ohy.js")
		script try{Typekit.load();}catch(e){}
		title Jenny Wen
		meta
		link(rel="stylesheet" href="src/css/theme.css")
	body
		.container.text-center
			h2.tk-calluna Jenny Wen
			.tk-europa
				p Hi there, I'm Jenny!
				p At the University of Waterloo, I'm studying engineering with a design approach.
				p I'm currently a Design/Engineering intern at Coursera.