doctype html
html(lang="en")
	head
		script(src="http://use.typekit.net/txl4ohy.js")
		script try{Typekit.load();}catch(e){}
		title Jenny Wen
		meta(name="keywords" content="jenny wen, systems design engineering, waterloo, designer, product design, engineer, urban planning, coursera, rokk3r, pplconnect, burlington, canada")
		meta(name="description" content="")
		meta(name="author" content="Jenny Wen")
		link(rel="stylesheet" href="src/css/theme.css")
	body
		.container.bio-container
			img.img-circle.img-responsive.bio-portrait(src="assets/img/portrait_wreckbeach.jpg")
			h2.tk-arvo.bio-name Jenny Wen
			.tk-europa
				p.bio-description Hi there, I'm Jenny!
				p.bio-description At the University of Waterloo, I'm studying engineering with a design approach.
				p.bio-description I'm currently a Design/Engineering intern at Coursera.
				p
					strong.text-small-caps.bio-link
						a(href="//twitter.com/jenny_wen" target="_blank") twitter
						| &nbsp;&nbsp;&nbsp;
						a(href="" target="_blank") linkedin
						| &nbsp;&nbsp;&nbsp;
						a(href="//dribbble.com/jennywen" target="_blank") dribbble
						| &nbsp;&nbsp;&nbsp;
						a(href="//instagram.com/jenny_wen_" target="_blank") instagram
						| &nbsp;&nbsp;&nbsp;
						a resume
			.portfolio-container
				.row.portfolio-row
					.col-md-4
						.portfolio-item
							img.portfolio-img
					.col-md-4
						.portfolio-item
							img.portfolio-img
					.col-md-4
						.portfolio-item
							img.portfolio-img
				.row.portfolio-row
					.col-md-4
						.portfolio-item
							img.portfolio-img
					.col-md-4
						.portfolio-item
							img.portfolio-img
					.col-md-4
						.portfolio-item
							img.portfolio-img

