doctype html
html(lang="en")
	head
		script(src="http://use.typekit.net/txl4ohy.js")
		script try{Typekit.load();}catch(e){}
		title Jenny Wen
		meta(name="keywords" content="jenny wen, systems design engineering, waterloo, designer, product design, engineer, urban planning, coursera, rokk3r, pplconnect, burlington, canada")
		meta(name="description" content="")
		meta(name="author" content="Jenny Wen")
		link(rel="stylesheet" href="src/css/theme.css")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
	body
		.body-container
			.container.bio-container
				img.img-circle.img-responsive.bio-portrait(src="assets/img/portrait_wreckbeach.jpg")
				h2.tk-arvo.bio-name Jenny Wen
				.tk-europa
					p.bio-description Hi! I'm a product designer hailing from the University of Waterloo.
					p.bio-description I'm currently studying engineering with a design approach.
					p.bio-description I love cities, introspection, and shaping community culture.
					p.bio-link-container
						strong.bio-link
							a(href="//twitter.com/jenny_wen" target="_blank") twitter
							| &nbsp;&nbsp;&nbsp;
							a(href="//linkedin.com/in/jennywen" target="_blank") linkedin
							| &nbsp;&nbsp;&nbsp;
							a(href="//instagram.com/jenny_wen_" target="_blank") instagram
							| &nbsp;&nbsp;&nbsp;
							a(href="//jennywen.tumblr.com" target="_blank") blog
							| &nbsp;&nbsp;&nbsp;
							a(href="assets/docs/resume.pdf") resume
				.portfolio-container
					// TODO: put portfolio items in a json!
					.row.portfolio-row
						.col-md-4.col-sm-6
							.portfolio-item
								img.portfolio-img
						.col-md-4.col-sm-6
							a(href="coursera.html" target="_blank")
								.portfolio-item
									img.portfolio-img(src="assets/img/portfolio/coursera_accomplishments.png")
						.col-md-4.col-sm-6
							a(href="spark.html" target="_blank")
								.portfolio-item
									img.portfolio-img(src="assets/img/portfolio/spark_mock.png")
						.col-md-4.col-sm-6
							a(href="simplyq.html" target="_blank")
								.portfolio-item
									img.portfolio-img(src="assets/img/portfolio/simplyq_mock.png")
						.col-md-4.col-sm-6
							a(href="buttons.html" target="_blank")
								.portfolio-item
									img.portfolio-img(src="assets/img/portfolio/button3_sq.png")

		script(src="/assets/js/lib/jquery-2.1.3.js")
		script(src="/assets/js/lib/underscore-min.js")
		script(src="/assets/js/lib/backbone-min.js")