doctype html
html(lang="en")
	head
		script(src="http://use.typekit.net/txl4ohy.js")
		script try{Typekit.load();}catch(e){}
		title Jenny Wen
		meta(name="keywords" content="jenny wen, systems design engineering, waterloo, designer, product design, engineer, urban planning, coursera, rokk3r, pplconnect, burlington, canada")
		meta(name="description" content="")
		meta(name="author" content="Jenny Wen")
		link(rel="stylesheet" href="src/css/theme.css")
	body
		.container.portfolio-page-container.tk-europa
			.portfolio-page-title
				h3.tk-arvo.portfolio-page-header Accomplishments 
				.portfolio-page-subhead Coursera
			p.portfolio-page-description 
				| I led this project at Coursera, and worked as the primary designer and developer on it before I ended my internship. I also worked with a product manager, and my mentor to develop the business requirements and the engineering specifications for fleshing it out.
			p.portfolio-page-description
				| The motivation for this design was to increase the value of the Verified Certificate and provide a personal space dedicated to learners on Coursera to view their accomplishments, and share them with their employers and peers. The design was validated through A/B testing and user testing with design walkthroughs.
			.portfolio-page-img
			p.portfolio-page-description
				| To set the context for the solution...
				.font-regular User mindset and motivation (Why would a user come here, and how would they feel?!):
				ul 
					li Completed a course, want to review their achievement
					li Exploratory - "What is this 'Accomplishments' doo-hicky?!"
				.font-regular Key tasks they want to complete:
				ul
					li See their completed courses
					li Access the artifacts stored from the courses they've completed
					li Share their accomplishments with employers (current or potential) - this has high value based on user testing
				ul
					li What would a user say when everything went well? About their own Acc
			.row
				.col-md-7
					.portfolio-page-img
				.col-md-5
					p.portfolio-page-description
						| Cheese and wine bavarian bergkase ricotta. Cottage cheese cheeseburger lancashire ricotta cheese on toast rubber cheese gouda brie. Halloumi brie roquefort macaroni cheese cheese on toast the big cheese blue castello boursin. Fondue.