doctype html
html(lang="en")
	head
		script(src="http://use.typekit.net/txl4ohy.js")
		script try{Typekit.load();}catch(e){}
		title Jenny Wen
		meta(name="keywords" content="jenny wen, systems design engineering, waterloo, designer, product design, engineer, urban planning, coursera, rokk3r, pplconnect, burlington, canada")
		meta(name="description" content="")
		meta(name="author" content="Jenny Wen")
		link(rel="stylesheet" href="src/css/theme.css")
	body
		.container.portfolio-page-container.tk-europa
			h3.tk-arvo Accomplishments 
			.portfolio-page-subhead Coursera
			p lorem ipsum
			.portfolio-page-img